@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    color: white;
}
.card {
    background-color: rgb(19, 19, 19);
    border-radius: 5px;
    border: 1px solid whitesmoke;
}
.header {
    background-color: #15161a;
}
.image {
    border-radius: 5px;
    width: 250px;   
}
.btn {
    border-radius: 5px;
}
.inpt {
    border-radius: 5px;
  
}
.img2 {
    border-radius: 5px;
} 
.login{
    border-radius: 5px;

}